.solutions-to-medical-problems {
  header {
    width: 100%;
    min-height: 80vh;
    background: url("../images/solutions to medical problems/bg.jpg") no-repeat
      center;
      background-attachment: fixed;
    background-size: cover;
    .bg-theme {
      width: 100%;
      min-height: 80vh;
      background-color: #000000a0;
      h1 {
        font-family: "PT Serif", serif;
      }
    }
  }
}
