.womens-fitness header {
  width: 100%;
  min-height: 100vh;
  background: url("../images/womens fitnes/bg.jpg") no-repeat center;
  background-size: cover;
}
.womens-fitness header .bg-theme {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6274509804);
}
.womens-fitness header .bg-theme h1 {
  font-family: "PT Serif", serif;
}

.womens-clothing header {
  width: 100%;
  min-height: 120vh;
  background: url("../images/womens clothing/bg.avif") no-repeat center;
  background-size: cover;
}
.womens-clothing header .bg-theme {
  width: 100%;
  min-height: 120vh;
  background-color: rgba(0, 0, 0, 0.6274509804);
}
.womens-clothing header .bg-theme h1 {
  font-family: "PT Serif", serif;
}

.womens-rights header {
  width: 100%;
  min-height: 100vh;
  background: url("../images/womens rights/bg.png") no-repeat center;
  background-size: cover;
}
.womens-rights header .bg-theme {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6274509804);
}
.womens-rights header .bg-theme h1 {
  font-family: "PT Serif", serif;
}

.womens-of-women header {
  width: 100%;
  min-height: 120vh;
  background: url("../images/psychology of women/bg.jpg") no-repeat center;
  background-size: cover;
}
.womens-of-women header .bg-theme {
  width: 100%;
  min-height: 120vh;
  background-color: rgba(0, 0, 0, 0.6274509804);
}
.womens-of-women header .bg-theme h1 {
  font-family: "PT Serif", serif;
}