@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

header .header-page > img {
  top: 0;
  left: 0;
  width: 97%;
  height: 97%;
  object-fit: cover;
  border-radius: 10px;
  transition-duration: 0.4s;
  z-index: 30;
}

header .header-page:hover > img {
  width: 102%;
  height: 102%;
}

.title {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.menu-link {
  position: relative;
  transition-duration: 0.4s;
}

.menu-link::before {
  position: absolute;
  content: "";
  top: 105%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #eea83f;
  transition-duration: 0.4s;
}

.menu-link:hover {
  scale: 1.02;
  text-shadow: 0 0 10px #eea83f;
}

.menu-link:hover::before {
  width: 80%;
}
